body{
  background-color: #393E46;
  margin: auto;
}
.top-container{
  text-align:center;
  margin:auto;
  width: 70%;
}
footer{
  text-align: center;
  margin-bottom: 10%;
  font-size: 1rem;
  color: azure;
  font-family: 'Indie Flower' ,cursive;
}
.design{
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #4ECCA3;
}
.dice{
  text-align: center;
  display: inline-block;
  padding: 40px;
}
img{
   width: 80%;
}
h1{
  margin:30px;
  color: #4ECCA3;
  font-family:'Lobster',cursive;
  font-size: 8rem;
  text-shadow: 5px 0 #393E46;
}